<%- include ("./partials/head.ejs") %>
<div id="msg-container"></div>
<form id="chat-form">
  <label for="msg-input">Message</label>
  <input type="text" id="msg-input" />
  <button type="submit" id="send-chat">Send</button>
</form>
<script type="module" src="js/script.js"></script>
<%- include ("./partials/footer.ejs") %>
