<%- include ("./partials/head.ejs") %>
<section class="homepage">
  <form method="post" class="signin">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required />
    <label for="room">Room</label>
    <input type="text" id="room" name="room" required />
    <button class="button" type="submit">Enter Room</button>
  </form>
</section>
<%- include ("./partials/footer.ejs") %>
