<%- include ("./partials/head.ejs") %>
<section class="homepage">
  <h1 class="homepage-title">Game <span class="color-purple">Rater</span></h1>
  <p class="homepage-text">
    A game in which you and your friends battle it out to see who knows their
    game ratings better, first to 5 points wins!
  </p>
  <a href="/login">
    <button class="button login-button">Let's a go!</button>
  </a>
</section>
<%- include ("./partials/footer.ejs") %>
